<div class="container">
  <h1>Twitter Search</h1>
  <p>Please input a Tweeter user</p>

<form action="/tweet/search" method="post">
  <input type="text" name="username">
  <input type="submit" value="Submit">
</form>
</div>

<div id="status"></div>

<br><div id="loading_img" style="display:none;"><img src='/image/ajax-loader.gif'>Now Loading...</img></div>